# Fichier ressource à rechercher lorsque le client envoie une requête pour un répertoire
DirectoryIndex index.php

# Activation de l'exécution du moteur de réécriture
RewriteEngine on

# Définit l'URL de base pour les réécritures au niveau répertoire
RewriteBase /

# Définition des conditions qui devront être satisfaites pour que la réécriture soit effectuée

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Définition les règles pour le moteur de réécriture
RewriteRule ^(.*)$ public/index.php [L]